* {
    box-sizing: border-box;
    margin: 0;
}

.frame {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.pig { 
    background-color: #F7949A;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.eye-first,
.eye-second{
    background-color: #F8F8FF;
    height: 75px;
    width: 75px;
    position: absolute;
    border-radius: 100%;
}
.eye-first {
    left: 100px;
    bottom: 230px;
}

.eye-second {
    right: 100px;
    bottom: 230px;
}

.nose {
    height: 150px;
    width: 200px;
    background-color: #f8b5ba;
    border-radius: 100%;
    margin-top: 150px;
    position: relative;
    /* position:absolute;
    bottom: 100px;
    left: 160px; */
}

.nostril-second,
.nostril-first {
    background-color: #92474c;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
}

.nostril-first {
    bottom: 70px;
    left: 40px
}

.nostril-second {
    bottom: 70px;
    left: 120px
}

.ear-first,
.ear-second{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #f8b5ba;
    top: -100px;
    border: 30px solid #F7949A;
    border-radius:60px;
    z-index: -1;
    margin-top: 150px;
}

.ear-first{
    transform: translate(-30px, -50px) rotate(26deg) skew(40deg);
    margin-right: 310px;
}

.ear-second{
    transform: translate(30px, -50px) rotate(-26deg) skew(-40deg);
    margin-left: 310px;
}
/* Sobre animações em css: https://www.youtube.com/watch?v=e00000000000000000TELLTacg-8 */