* {
    box-sizing: border-box;
    margin: 0;
}

.frame {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.pig { 
    background-color: #F7949A;
    width: 500px;
    height: 500px;
    border-radius: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.eye-first,
.eye-second{
    background-color: #F8F8FF;
    height: 75px;
    width: 75px;
    position: absolute;
    border-radius: 100%;
    animation-name: blink;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.eye-first {
    left: 100px;
    bottom: 230px;
}

.eye-second {
    right: 100px;
    bottom: 230px;
}

.first-pupil,
.second-pupil{
    position: absolute;
    background-color: #000;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 0;
}

.first-pupil{
    left: 35px;
    bottom: 35px;
}

.second-pupil{
    right: 35px;
    bottom: 35px;
}

.nose {
    height: 150px;
    width: 200px;
    background-color: #f8b5ba;
    border-radius: 100%;
    margin-top: 150px;
    position: relative;
    /* position:absolute;
    bottom: 100px;
    left: 160px; */
}

.nostril-second,
.nostril-first {
    background-color: #92474c;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: absolute;
}

.nostril-first {
    bottom: 70px;
    left: 40px
}

.nostril-second {
    bottom: 70px;
    left: 120px
}

.ear-first,
.ear-second{
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #f8b5ba;
    top: -100px;
    border: 30px solid #F7949A;
    border-radius:60px;
    z-index: -1;
    margin-top: 150px;
}

.ear-first{
    transform: translate(-30px, -50px) rotate(26deg) skew(40deg);
    margin-right: 310px;
}

.ear-second{
    transform: translate(30px, -50px) rotate(-26deg) skew(-40deg);
    margin-left: 310px;
}

@keyframes blink {
    to {
        transform: scaleY(0);
    }
}
 

.aleatorio{
    animation-name: giro;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes giro {
    from{
    transform-origin: center;
    transform: rotate(0);
    background-color: red;
    height: 800px;
    width: 400px;
    }

    25% {
        background-color: black;
        height: 200px;
        width: 600px;
    }
    50% {
    background-color: blue;
    height: 500px;
    width: 300px;
    }

    to {
    transform: rotate(-360deg);
    background-color: yellow;
    height: 400px;
    width: 100px;
    }
}  

.eye-first-money-cipher,
.eye-second-money-cipher{
    height: 128px;
    width: 128px;
    position: absolute;
    border-radius: 100%;
    margin: auto;
    animation-name: slue;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.eye-first-money-cipher {
    left: 70px;
    bottom: 220px;
}

.eye-second-money-cipher {
    right: 70px;
    bottom: 220px;
}

@keyframes slue {
    to {
       transform-origin: center;
       transform: scaleX(0);
    }
}
/* Sobre animações em css: https://www.youtube.com/watch?v=e00000000000000000TELLTacg-8 */
